.WeatherForecast {
    text-align: center;
    margin-top: 5px;
 
    
  }
  .WeatherForecast .col{
    margin-top: 5px;
   width: 20px;
  
  }
  .WeatherForecast .col:hover{
    background-color: #5596F6;
    color: white;
border-radius: 16px;
 }
  .WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
  }
  .WeatherForecast-temperatures:hover {
margin-bottom: 50px;
  }