.WeatherForecast {
    text-align: center;
    margin-top: 5px;
    padding-top: 13em;
  }
  .WeatherForecast:hover{
    background-color: #5596F6;
    color: white;
  }
  .WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
  }