.WeatherForecast {
    text-align: center;
    margin-top: 5px;
 
    
  }
  .WeatherForecast .col{
    margin-top: 5px;
   width: 20px;
  
  }
  .WeatherForecast .col:hover{
    background-color: #5596F6;
    box-shadow: 0px 10px 36px 0px rgba(85,150,246,0.75);
    color: white;
border-radius: 16px;
 }
  .WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
  }
  