.Weather {
  margin-top:20px;
    font-family: arial, sans-serif;
    border: 1px solid #dadde1;
    padding: 20px;
    border-radius: 4px;
    color: rgb(135, 135, 135);
    text-align: center;
    /* From https://css.glass */
background: rgba(85, 150, 246, 0.42);
border-radius: 16px;
box-shadow: 0px 10px 36px 0px rgba(85,150,246,0.75);
-webkit-box-shadow: 0px 10px 36px 0px rgba(85,150,246,0.75);
-moz-box-shadow: 0px 10px 36px 0px rgba(85,150,246,0.75);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: none;
   
  }
 
  .Weather h1 {
    font-size: 34px;
    font-weight: bold;
    color: black;
    margin-left: -5px;
    line-height: 29px;
  }
  li{
    list-style: none;
  }
    
  .Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
  
  .Weather .speed {
    display: flex;
justify-content: center;
gap: 25px;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -20px;
  }
 .WeatherTemperature .temperature{
    font-size: 40px;
    font-weight: bold;
 }
 .Weather .btn{
    background-color: #5596F6;
    color: white;
 }
 .WeatherInfo .wedd{
display: flex;
justify-content: center;
gap: 5px;

 }
 .Weather .button:hover{
  box-shadow: 0px 10px 36px 0px rgba(85,150,246,0.75);
}